*/*.o
*/*/*.o
*/*/*/*.o
*/*.orig
*/*/*.orig
*/*/*/*.orig
*/.deps*
*/*/.deps*
*/*/*/.deps*
Makefile
*/Makefile
*/*/Makefile
*/*/*/Makefile
*/*/*/*/Makefile
*.bc
*/*.bc
*/*/*.bc
*/*/*/*.bc
*/*/*/*/*.bc
*.a
*/*.a
*/*/*.a
*/*/*/*.a
*/*/*/*/*.a
pygcc.log
stamp-h1
tags
