*/*.o
*/*/*.o
*/*/*/*.o
*/*.orig
*/*/*.orig
*/*/*/*.orig
*/.deps*
*/*/.deps*
*/*/*/.deps*
Makefile
*/Makefile
*/*/Makefile
*/*/*/Makefile
*/*/*/*/Makefile
*.bc
*/*.bc
*/*/*.bc
*/*/*/*.bc
*/*/*/*/*.bc
*.a
*/*.a
*/*/*.a
*/*/*/*.a
*/*/*/*/*.a
pygcc.log
stamp-h1
tags
config.h
config.log
config.status
src/client/x11/xpilot-ng-x11
src/server/xpilot-ng-server
TAGS
Doxyfile
